@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Blog>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
    var model = Model.Root();
    var blogsList = model.Descendants<ContentModels.Blog>().Where(x => x.IsVisible());
}

<section class="NoBanner mb-3">
    <div class="container top_banner_news animatedParent">
        <div class="row">
            <div class="col-12">
                <div class="sec_heading">
                    <h1> @Model?.Title</h1>
                    <p> @Model?.Description </p>
                </div>
                <div class="news_list animated fadeInUpShort">
                    <div class="news_img"><img src="@Model?.Image.Url()" /></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  -->
<section class="mb-3">
    <div class="container">
        <div class="row">
            <div class="col-12"> @Model?.BlogsHeader </div>
        </div>
    </div>
</section>

<section class="blog_style">
    <div class="container animatedParent">
        <div class="row animated fadeInUpShort">
            <div class="col-12">
                <div class="container">
                    <div class="row" id="grid">
                        @foreach (var item in Model?.ListOfBlog)
                        {

                            <div class="grid-item">
                                <div class="iso_img_wrp"> <a href="@item.Link.Url">
                                        <img src="@item.Image.Url()"> </a> </div>
                                <div class="captions"> @item.Description </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function addClass(){
        document.getElementById("master-id").classList.add("black_text")
       }
       addClass()
</script>

