<div class="welcome-dashboard" ng-controller="CustomWelcomeDashboardController as vm">
    <link href="/App_Plugins/Feedback/css/bootstrap.css" rel="stylesheet">
    <div class="dash-inner-area-fb">
        <h1 class="h1-fb">Welcome to <br />OSKI Starter Kit for Umbraco 9</h1>
        <p class="intro-text-fb">“One of the best free solutions for small, medium businesses and personal websites”</p>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="mb-4 h5-fb">Feedback form</h5>
                        <form method="post" name="feedback">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" ng-model="name" id="name" name="name" placeholder="Name" required>
                                <label for="floatingInput">Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" name="email" ng-model="email" required placeholder="Email">
                                <label for="floatingInput">Email address</label>
                            </div>
                            <div class="d-grid gap-2 col-6 mx-auto mb-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="stars">
                                            <input class="star star-5" ng-model="star" value="5" id="star-5" type="radio" name="star" />
                                            <label class="star star-5" for="star-5"></label>
                                            <input class="star star-4" ng-model="star" value="4" id="star-4" type="radio" name="star" />
                                            <label class="star star-4" for="star-4"></label>
                                            <input class="star star-3" ng-model="star" value="3" id="star-3" type="radio" name="star" />
                                            <label class="star star-3" for="star-3"></label>
                                            <input class="star star-2" ng-model="star" value="2" id="star-2" type="radio" name="star" />
                                            <label class="star star-2" for="star-2"></label>
                                            <input class="star star-1" ng-model="star" value="1" id="star-1" type="radio" name="star" />
                                            <label class="star star-1" for="star-1"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" ng-model="comments" id="comments" style="height: 100px"></textarea>
                                <label for="floatingTextarea2">Comments</label>
                            </div>
                            <div class="form-check form-switch mt-2">
                                <input class="form-check-input" name="isAgreed" ng-model="isAgreed" type="checkbox" id="flexSwitchCheckDefault" required>
                                <label class="form-check-label" for="flexSwitchCheckDefault"> I agree to have my personal data processed and I want to subscribe to the updates of the package</label>
                            </div>
                            <div class="d-grid gap-2 col-6 mx-auto mt-4">
                                <button class="btn btn-primary" ng-disabled="!isAgreed || !feedback.name.$valid || !feedback.email.$dirty" ng-click="send(name, email, comments, star)" type="submit">Send</button>

                            </div>                    
                        </form>
                    </div>
                </div>
            </div>      
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title h5-fb">Other OSKI packages</h5>
                        <p class="card-text">Check out our solutions</p>
                        <a href="https://our.umbraco.com/members/id:280885/" target="_blank" class="btn btn-primary">Send</a>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title h5-fb">OSKI website</h5>
                        <p class="card-text">Whether you are looking for a specific business solution or just need some questions to be answered, we are here to help.</p>
                        <a href="https://oski.site/" target="_blank" class="btn btn-primary">Send</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>