@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Home>
@Model.Parent
<header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="main-header">
                    <div class="menu_wrp">
                        <input type="checkbox" class="menu-btn" id="menu-btn" />
                        <label for="menu-btn" class="menu-icon">
                            <span class="menu-icon__line"></span>
                        </label>

                        <ul class="nav-links">
                            <li class="nav-link">
                               @if (UmbracoContext.PublishedRequest.PublishedContent.Name.Equals("Home"))
                               {
                                
                               } <a href="revealed.html"> South Africa: Revealed </a>
                            </li>
                            <li class="nav-link">
                                <a href="#"> Getting Around </a>
                            </li>
                            <li class="nav-link">
                                <a href="travel-trade-partners.html"> Travel Trade Partners </a>
                            </li>
                            <li class="nav-link">
                                <a href="#"> Blog </a>
                            </li>
                            <li class="nav-link">
                                <a href="newsroom.html"> Newsroom </a>
                            </li>
                            <li class="nav-link">
                                <a href="contact-us.html"> Contact Us </a>
                            </li>
                        </ul>

                        <div class="search_icon">
                            <a data-fancybox data-src="#trueModal" href="javascript:;"> <i class="fa fa-search"
                                    aria-hidden="true"></i> </a>
                        </div>

                        <div class="search_popup" style="display: none;" id="trueModal">
                            <form class="search-container">
                                <input type="text" id="search-bar" placeholder="Search..." />
                                <a href="#">
                                    <div class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></div>
                                </a>
                            </form>
                        </div>

                        <!--  -->
                    </div>
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/Logo.png" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
