@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<OContactMapContainer>

<section class="oski-pb-3 oski-pt-3">
    <div class="contacts-page__map">
        @Html.Raw(Model.OGoogleMapLocation)
    </div>
</section>