@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<OQuote>

@{
    string style = "";
    /*
    if((bool) ViewData["isParentPage"]){
        style = "about-page__quote";
    }
    */

}
<div class="container">
    <div class="@style quote__block">
        <blockquote>
            @Html.Raw(Model.OText)
        </blockquote>
        <p class="quote__author">
            <i>by @Model.OAuthor</i>
        </p>
    </div>
</div>