@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "main.cshtml";
}
<html>
<section class="banner_style home_banner" style="margin-bottom: 0px;">
</section>
</html>