@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "main.cshtml";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico" />

        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
        <!-- bootstrap css file -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
        <!-- all.min.css file -->
        <link rel="stylesheet" href="assets/css/all.min.css" />
        <!-- font-awesome css file -->

        <!-- style.css file -->
        <link rel="stylesheet" href="assets/css/mystyle.css" />
        <link rel="stylesheet" href="assets/css/media_query.css" />
        <link rel="stylesheet" href="assets/css/menu.css" />
        <link rel="stylesheet" href="assets/css/fancybox.css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link href="assets/css/slick.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="assets/css/animations.css" type="text/css" />

        <link rel="stylesheet" href="assets/css/vertical-slide.css" type="text/css" />

        <title>South Africa</title>
    </head>
    <body>
        <section class="banner_style home_banner" style="margin-bottom: 0px;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="banner_container">
                            <div class="container">
                                <h1><span> Welcome to the world’s </span> Leading Adventure Destination</h1>
                                <div class="highlight">Home to 3000 adventures & more!</div>
                                <p>Revel in the majesty of nature, take a walk on the wild side, and do things that you’ve never done before. In South Africa, your next great adventure is always waiting to happen!</p>
                                <a data-fancybox data-small-btn="true" class="btnFillup liquidbg" href="https://www.youtube.com/watch?v=rahRaVtEQaM">
                                    Watch Video
                                    <div class="icon"></div>
                                </a>
                                <!--  -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  -->

        <section class="lot_more_style mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>South Africa <span> has a lot more to offer! </span></h1>
                    </div>
                </div>
                <div class="row animatedParent">
                    <div class="col-md-4 col-12 left_content_wrp animated fadeInUpShort">
                        <h4>We are many worlds in one.</h4>
                        <p>Where lush green forests coexist with sandy deserts. Where you can go diving with sharks, or stroll along the beach.</p>
                        <p>Known as ‘The Rainbow Nation’, South Africa is where you get to explore who you are and discover who you want to be.</p>
                    </div>
                    <div class="col-md-7 offset-md-1 col-12 right_slider_wrp animated fadeInRightShort">
                        <div class="Home_offer_slider">
                            <div class="slide">
                                <div class="image_style">
                                    <div class="caption">
                                        <h3>Active Adventure</h3>
                                        <p>Comfort zones? Never heard of them! Adrenaline junkies, this one’s for you.</p>
                                    </div>

                                    <img src="assets/images/offers_slide_01.jpg" class="image" />
                                </div>
                            </div>

                            <!--  -->

                            <div class="slide">
                                <div class="image_style">
                                    <div class="caption">
                                        <h3>City Lifestyle</h3>
                                        <p>Electric, vibrant, lively, and never boring! Explore the best of our cities.</p>
                                    </div>
                                    <img src="assets/images/offers_slide_02.jpg" class="image" />
                                </div>
                            </div>

                            <!--  -->

                            <div class="slide">
                                <div class="image_style">
                                    <div class="caption">
                                        <h3>Cultural Roots</h3>
                                        <p>Who are we? What makes us South African? Find out here!</p>
                                    </div>

                                    <img src="assets/images/offers_slide_03.jpg" class="image" />
                                </div>
                            </div>

                            <!--  -->

                            <div class="slide">
                                <div class="image_style">
                                    <div class="caption">
                                        <h3>Wildlife Safari</h3>
                                        <p>Explore South Africa at its very best - wild and free!</p>
                                    </div>

                                    <img src="assets/images/offers_slide_04.jpg" class="image" />
                                </div>
                            </div>

                            <!--  -->

                            <div class="slide">
                                <div class="image_style">
                                    <div class="caption">
                                        <h3>Scenic Outdoors</h3>
                                        <p>Mountains, valleys, lakes and trees; when it comes to nature, South Africa is the place to be!</p>
                                    </div>

                                    <img src="assets/images/offers_slide_05.jpg" class="image" />
                                </div>
                            </div>

                            <!--  -->

                            <div class="slide">
                                <div class="image_style">
                                    <div class="caption">
                                        <h3>Coastal Beaches</h3>
                                        <p>Get a healthy dose of Vitamin B-EACH with soft white sands and sparkling seas.</p>
                                    </div>

                                    <img src="assets/images/offers_slide_06.jpg" class="image" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  -->

        <!-- Vertical Slider -->

        <section>
            <div class="container-fuild">
                

                <div class="row">
                    <div class="col-12">
                        <div class="Slide_wrp">
                            <div class="slides">
                                <div class="slide western_cape">
                                    <div class="caption_style">
                                        <h1>Western Cape</h1>
                                        <h2>Zoom through spectacular mountain passes, gorgeous vineyards, and historic villages!</h2>
                                        <div class="slide_btn">
                                            <a href="#" tabindex="0"> Know More <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>

                                <!--  -->

                                <div class="slide eastern_cape">
                                    <div class="caption_style">
                                        <h1>Eastern Cape</h1>
                                        <h2>Rediscover yourself in the lap of nature. Incredible wildlife reserves await!</h2>
                                        <div class="slide_btn">
                                            <a href="#" tabindex="0"> Know More <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="slide free_state">
                                    <div class="caption_style">
                                        <h1>Free State</h1>
                                        <h2>Soar to new heights in hot air balloons and discover new horizons.</h2>
                                        <div class="slide_btn">
                                            <a href="#" tabindex="0"> Know More <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>

                                <!--  -->

                                <div class="slide Gauteng">
                                    <div class="caption_style">
                                        <h1>Gauteng</h1>
                                        <h2>A thriving nightlife, heart pumping music and brimming with culture. Welcome to the province that never sleeps!</h2>
                                        <div class="slide_btn">
                                            <a href="#" tabindex="0"> Know More <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="slide Mpumalanga">
                                    <div class="caption_style">
                                        <h1>Mpumalanga</h1>
                                        <h2>Lush grasslands and a variety of wildlife await you in the land of the rising sun.</h2>
                                        <div class="slide_btn">
                                            <a href="#" tabindex="0"> Know More <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="slide KwaZulu_Natal">
                                    <div class="caption_style">
                                        <h1>KwaZulu-Natal</h1>
                                        <h2>Where African, Indian, and European cultures unite. The Garden Province is the best of many worlds!</h2>
                                        <div class="slide_btn">
                                            <a href="#" tabindex="0"> Know More <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="slide North_West">
                                    <div class="caption_style">
                                        <h1>North West</h1>
                                        <h2>Glitzy five-star resorts and mines of precious metals; the Platinum Province is bling central! Get a taste of the high life in the North West.</h2>
                                        <div class="slide_btn">
                                            <a href="#" tabindex="0"> Know More <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="slide Northern_Cape">
                                    <div class="caption_style">
                                        <h1>Northern Cape</h1>
                                        <h2>The ocean, the desert, the bush or rich African culture – you can find them all here.</h2>
                                        <div class="slide_btn">
                                            <a href="#" tabindex="0"> Know More <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="slide Limpopo">
                                    <div class="caption_style">
                                        <h1>Limpopo</h1>
                                        <h2>Baobab trees, hot springs, beautiful flowers and garden retreats. If it’s nature you love, add Limpopo to your bucket list!</h2>
                                        <div class="slide_btn">
                                            <a href="#" tabindex="0"> Know More <i class="fa fa-long-arrow-right"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--  -->

        <section class="Bucket_list_style">
            <div class="container-fluid">
                <div class="row animatedParent">
                    <div class="col-12 NoPadMar">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="sec_heading">
                                        <h1>Bucket list Hotspots</h1>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="Bucket_list animated fadeInRightShort">
                            <div class="slide">
                                <div class="thumbnail_style">
                                    <div class="static_text">
                                        <h2>Limpopo & Mpumalanga</h2>
                                        <h1>Kruger National Park</h1>
                                    </div>
                                    <div class="static_text_bottom">Spanning two provinces, it’s South Africa’s largest reserve with incredible biodiversity - it has more large mammals than any other reserve in the continent.</div>
                                    <img src="assets/images/Bucket_list_Slide_01.jpg" />
                                    <div class="content_thumb">
                                        <div class="hover_content">
                                            <div class="sec_wrp">
                                                <div class="title">Best time to visit</div>
                                                <div class="month">May – September</div>
                                                <p>The Bush thins out in the dry winter months, making it easier to spot wildlife.</p>
                                            </div>
                                            <!--  -->
                                            <div class="sec_wrp">
                                                <div class="title">Known for</div>
                                                <p>Being the first and largest national park in South Africa. Also, home to the Big 5</p>
                                            </div>
                                            <!--  -->
                                            <div class="sec_wrp" style="border: 0px;">
                                                <div class="title">Budget</div>
                                                <p>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  -->
                            <div class="slide">
                                <div class="thumbnail_style">
                                    <div class="static_text">
                                        <h2>Gauteng</h2>
                                        <h1>Apartheid museum</h1>
                                    </div>
                                    <div class="static_text_bottom">A 46-year journey of struggle, determination and triumph. The Museum takes visitors through the rise and fall of apartheid.</div>
                                    <img src="assets/images/Bucket_list_Slide_02.jpg" />
                                    <div class="content_thumb">
                                        <div class="hover_content">
                                            <div class="sec_wrp">
                                                <div class="title">Best time to visit</div>
                                                <div class="month">
                                                    March – May <br />
                                                    September – November
                                                </div>

                                                <!-- <P> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </P> -->
                                            </div>
                                            <!--  -->
                                            <div class="sec_wrp">
                                                <div class="title">Known for</div>
                                                <p>Being the world’s leading museum catalogue of 20th century South Africa</p>
                                            </div>
                                            <!--  -->
                                            <div class="sec_wrp" style="border: 0px;">
                                                <div class="title">Budget</div>
                                                <p>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  -->
                            <div class="slide">
                                <div class="thumbnail_style">
                                    <div class="static_text">
                                        <h2>Western Cape</h2>
                                        <h1>West coast national park</h1>
                                    </div>
                                    <div class="static_text_bottom">A paradise along the coast of southwestern South Africa, it’s the perfect spot to experience the sparkling blue waters of the sea.</div>
                                    <img src="assets/images/Bucket_list_Slide_03.jpg" />
                                    <div class="content_thumb">
                                        <div class="hover_content">
                                            <div class="sec_wrp">
                                                <div class="title">Best time to visit</div>
                                                <div class="month">October – March</div>
                                            </div>
                                            <!--  -->
                                            <div class="sec_wrp">
                                                <div class="title">Known for</div>
                                                <p>Being a coastal paradise that’s the perfect spot for biking, hiking and bird watching.</p>
                                            </div>
                                            <!--  -->
                                            <div class="sec_wrp" style="border: 0px;">
                                                <div class="title">Budget</div>
                                                <p>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="slide">
                                <div class="thumbnail_style">
                                    <div class="static_text">
                                        <h2>Northern cape</h2>
                                        <h1>Augrabies Falls</h1>
                                    </div>
                                    <div class="static_text_bottom">Known as the ‘Place of Great Noise’, this waterfall definitely makes a splash!</div>
                                    <img src="assets/images/Bucket_list_Slide_04.jpg" />
                                    <div class="content_thumb">
                                        <div class="hover_content">
                                            <div class="sec_wrp">
                                                <div class="title">Best time to visit</div>
                                                <div class="month">April – September</div>
                                                <!-- <P> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </P> -->
                                            </div>
                                            <!--  -->
                                            <div class="sec_wrp">
                                                <div class="title">Known for</div>
                                                <p>90 metre-high waterfalls with some lovely hiking trails around it.</p>
                                            </div>
                                            <!--  -->
                                            <div class="sec_wrp" style="border: 0px;">
                                                <div class="title">Budget</div>
                                                <p>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="slide">
                                <div class="thumbnail_style">
                                    <div class="static_text">
                                        <h2>North-West</h2>
                                        <h1>Madikwe Game Reserve</h1>
                                    </div>
                                    <div class="static_text_bottom">Over 80,000 hectares of untethered wildlife make this a premier safari destination.</div>
                                    <img src="assets/images/Bucket_list_Slide_05.jpg" />
                                    <div class="content_thumb">
                                        <div class="hover_content">
                                            <div class="sec_wrp">
                                                <div class="title">Best time to visit</div>
                                                <div class="month">March - November</div>
                                                <!-- <P> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </P> -->
                                            </div>
                                            <!--  -->
                                            <div class="sec_wrp">
                                                <div class="title">Known for</div>
                                                <p>Home to 350 rare bird and 66 mammal species</p>
                                            </div>
                                            <!--  -->
                                            <div class="sec_wrp" style="border: 0px;">
                                                <div class="title">Budget</div>
                                                <p>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="slide">
                                <div class="thumbnail_style">
                                    <div class="static_text">
                                        <h2>Kwazulu-Natal</h2>
                                        <h1>Oribi Gorge</h1>
                                    </div>
                                    <div class="static_text_bottom">How low can you go? Take the plunge at this seemingly endless gorge and find out!</div>
                                    <img src="assets/images/Bucket_list_Slide_06.jpg" />
                                    <div class="content_thumb">
                                        <div class="hover_content">
                                            <div class="sec_wrp">
                                                <div class="title">Best time to visit</div>
                                                <div class="month">January - May</div>
                                            </div>
                                            <!--  -->
                                            <div class="sec_wrp">
                                                <div class="title">Known for</div>
                                                <p>An extreme sport at each facet! Go abseiling, Foefie sliding, white water rafting, and more.</p>
                                            </div>
                                            <!--  -->
                                            <div class="sec_wrp" style="border: 0px;">
                                                <div class="title">Budget</div>
                                                <p>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="slide">
                                <div class="thumbnail_style">
                                    <div class="static_text">
                                        <h2>Mpumalanga</h2>
                                        <h1>Bourke’s Luck Potholes</h1>
                                    </div>
                                    <div class="static_text_bottom">With twists and turns galore, these river rock formations are pretty thrilling to look at!</div>
                                    <img src="assets/images/Bucket_list_Slide_07.jpg" />
                                    <div class="content_thumb">
                                        <div class="hover_content">
                                            <div class="sec_wrp">
                                                <div class="title">Best time to visit</div>
                                                <div class="month">May - September</div>
                                                <!-- <P> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </P> -->
                                            </div>
                                            <!--  -->
                                            <div class="sec_wrp">
                                                <div class="title">Known for</div>
                                                <p>A never-before-seen network of tunnels, tubes and whirlpools.</p>
                                            </div>
                                            <!--  -->
                                            <div class="sec_wrp" style="border: 0px;">
                                                <div class="title">Budget</div>
                                                <p>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="slide">
                                <div class="thumbnail_style">
                                    <div class="static_text">
                                        <h2>Free State</h2>
                                        <h1>Golden gate Highlands national park</h1>
                                    </div>
                                    <div class="static_text_bottom">A gold-tinged gem hidden away among mountains.</div>
                                    <img src="assets/images/Bucket_list_Slide_08.jpg" />
                                    <div class="content_thumb">
                                        <div class="hover_content">
                                            <div class="sec_wrp">
                                                <div class="title">Best time to visit</div>
                                                <div class="month">January - May</div>
                                                <!-- <P> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </P> -->
                                            </div>
                                            <!--  -->
                                            <div class="sec_wrp">
                                                <div class="title">Known for</div>
                                                <p>With some of the country’s best views, this park also is home to extremely rare flora, fauna and cultural artefacts.</p>
                                            </div>
                                            <!--  -->
                                            <div class="sec_wrp" style="border: 0px;">
                                                <div class="title">Budget</div>
                                                <p>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="touchdown_style mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="sec_heading white_text">
                            <h1>Touchdown!</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 Left_bar">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="image_effect">
                                    <figure class="effect-ruby">
                                        <img src="assets/images/touchdown_img_01.jpg" />
                                        <figcaption>
                                            <h2>VISA & IMMIGRATION <span> Hassle-free processes for the perfect vacation. </span></h2>

                                            <div class="hidden">
                                                <div class="button">
                                                    <a href="https://www.google.co.in/">
                                                        <i class="fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="image_effect">
                                    <figure class="effect-ruby">
                                        <img src="assets/images/touchdown_img_02.jpg" />
                                        <figcaption>
                                            <h2>INTERNATIONAL TRAVEL UPDATES <span> Everything you need to know. </span></h2>
                                            <div class="hidden">
                                                <div class="button">
                                                    <a href="#"> <i class="fa fa-long-arrow-right"></i> </a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <div class="col-md-8 Right_bar">
                        <div class="row">
                            <div class="col-12">
                                <div class="image_effect">
                                    <figure class="effect-ruby">
                                        <img src="assets/images/touchdown_img_05.jpg" />
                                        <figcaption>
                                            <h2>INTERNATIONAL TRAVEL UPDATES <span> Everything you need to know. </span></h2>
                                            <div class="hidden">
                                                <div class="button">
                                                    <a href="#"> <i class="fa fa-long-arrow-right"></i> </a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="row">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="image_effect">
                                            <figure class="effect-ruby">
                                                <img src="assets/images/touchdown_img_03.jpg" />
                                                <figcaption>
                                                    <h2>
                                                        GETTING HERE
                                                        <span>
                                                            Flights to South Africa: <br />
                                                            Fly into the Rainbow Nation on great deals.
                                                        </span>
                                                    </h2>
                                                    <div class="hidden">
                                                        <div class="button">
                                                            <a href="#"> <i class="fa fa-long-arrow-right"></i> </a>
                                                        </div>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </div>
                                    </div>

                                    <!--  -->
                                    <div class="col-md-6 col-xs-12">
                                        <div class="image_effect">
                                            <figure class="effect-ruby">
                                                <img src="assets/images/touchdown_img_04.jpg" />
                                                <figcaption>
                                                    <h2>GETTING AROUND <span> Discover South Africa by road, train or air. </span></h2>
                                                    <div class="hidden">
                                                        <div class="button">
                                                            <a href="#"> <i class="fa fa-long-arrow-right"></i> </a>
                                                        </div>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Map Start -->

        <section class="home_map_style NoPadMar animatedParent">
            <div class="container-fluid NoPadMar scroll animated fadeInUpShort">
                <div class="centered-cover">
                    <h1>Discover South Africa</h1>
                    <div class="flex-break">
                        <select class="form">
                            <option value="Active-Adventure"> Active Adventure </option>
                            <option value="Wildlife-Safari"> Wildlife Safari </option>
                            <option value="cultural-Roots"> Cultural Roots </option>
                            <option value="City-Lifestyle"> City Lifestyle </option>
                            <option value="Coastal-Life"> Coastal Life </option>
                        </select>
                        <!-- Active-Adventure Start -->
                        <div class="box Active-Adventure">
                            <ul class="map_points">
                                <li class="Northern_Cape">
                                    <div class="img_div">
                                        <img src="assets/images/icon_Northern_Cape.png" />
                                    </div>
                                    Northern Cape
                                    <a data-fancybox data-src="#Bungee_Jumping" href="javascript:;">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="Western_Cape">
                                    <div class="img_div">
                                        <img src="assets/images/icon_Western_Cape.png" />
                                    </div>
                                    Western Cape
                                    <a data-fancybox data-src="#Bungee_Jumping" href="javascript:;">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="Limpopo">
                                    <div class="img_div">
                                        <img src="assets/images/LIMPOPO.png" />
                                    </div>
                                    Limpopo
                                    <a data-fancybox data-src="#Bungee_Jumping" href="javascript:;">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="Gauteng">
                                    <div class="img_div">
                                        <img src="assets/images/icon_Gauteng.png" />
                                    </div>
                                    Gauteng
                                    <a data-fancybox data-src="#Bungee_Jumping" href="javascript:;">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="Mpumalanga">
                                    <div class="img_div">
                                        <img src="assets/images/icon_Mpumalanga.png" />
                                    </div>
                                    Mpumalanga
                                    <a data-fancybox data-src="#Bungee_Jumping" href="javascript:;">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="KwaZul_Natal">
                                    <div class="img_div">
                                        <img src="assets/images/icon_KwaZul_Natal.png" />
                                    </div>
                                    KwaZul Natal
                                    <a data-fancybox data-src="#Bungee_Jumping" href="javascript:;">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="Free_State">
                                    <div class="img_div">
                                        <img src="assets/images/icon_Free_State.png" />
                                    </div>
                                    Free State
                                    <a data-fancybox data-src="#Bungee_Jumping" href="javascript:;">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="Eastern_Cape">
                                    <div class="img_div">
                                        <img src="assets/images/icon_Eastern_Cape.png" />
                                    </div>
                                    Eastern Cape
                                    <a data-fancybox data-src="#Bungee_Jumping" href="javascript:;">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="North_West">
                                    <div class="img_div">
                                        <img src="assets/images/icon_North_West.png" />
                                    </div>
                                    North West
                                    <a data-fancybox data-src="#Bungee_Jumping" href="javascript:;">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- Wildlife Safari Start -->
                        <div class="box Wildlife-Safari">
                            <ul class="map_points">
                                <li class="Bungee_Jumping">
                                    Bungee Jumping
                                    <a data-fancybox data-src="#Bungee_Jumping" href="javascript:;">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="Limpopo">
                                    <div class="img_div">
                                        <img src="assets/images/LIMPOPO.png" />
                                    </div>
                                    Limpopo
                                    <a data-fancybox data-src="#Bungee_Jumping" href="javascript:;">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="Mpumalanga">
                                    <div class="img_div">
                                        <img src="assets/images/icon_Mpumalanga.png" />
                                    </div>
                                    Mpumalanga
                                    <a data-fancybox data-src="#Bungee_Jumping" href="javascript:;">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="KwaZul_Natal">
                                    <div class="img_div">
                                        <img src="assets/images/icon_KwaZul_Natal.png" />
                                    </div>
                                    KwaZul Natal
                                    <a data-fancybox data-src="#Bungee_Jumping" href="javascript:;">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="Free_State">
                                    <div class="img_div">
                                        <img src="assets/images/icon_Free_State.png" />
                                    </div>
                                    Free State
                                    <a data-fancybox data-src="#Bungee_Jumping" href="javascript:;">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="Eastern_Cape">
                                    <div class="img_div">
                                        <img src="assets/images/icon_Eastern_Cape.png" />
                                    </div>
                                    Eastern Cape
                                    <a data-fancybox data-src="#Bungee_Jumping" href="javascript:;">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="North_West">
                                    <div class="img_div">
                                        <img src="assets/images/icon_North_West.png" />
                                    </div>
                                    North West
                                    <a data-fancybox data-src="#Bungee_Jumping" href="javascript:;">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- cultural-Roots Start -->
                        <div class="box cultural-Roots">
                            <ul class="map_points">
                                <li class="Northern_Cape">
                                    <div class="img_div">
                                        <img src="assets/images/icon_Northern_Cape.png" />
                                    </div>
                                    Northern Cape
                                    <a data-fancybox data-src="#Bungee_Jumping" href="javascript:;">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="Western_Cape">
                                    <div class="img_div">
                                        <img src="assets/images/icon_Western_Cape.png" />
                                    </div>
                                    Western Cape
                                    <a data-fancybox data-src="#Bungee_Jumping" href="javascript:;">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="Limpopo">
                                    <div class="img_div">
                                        <img src="assets/images/LIMPOPO.png" />
                                    </div>
                                    Limpopo
                                    <a data-fancybox data-src="#Bungee_Jumping" href="javascript:;">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="Mpumalanga">
                                    <div class="img_div">
                                        <img src="assets/images/icon_Mpumalanga.png" />
                                    </div>
                                    Mpumalanga
                                    <a data-fancybox data-src="#Bungee_Jumping" href="javascript:;">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="KwaZul_Natal">
                                    <div class="img_div">
                                        <img src="assets/images/icon_KwaZul_Natal.png" />
                                    </div>
                                    KwaZul Natal
                                    <a data-fancybox data-src="#Bungee_Jumping" href="javascript:;">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="Free_State">
                                    <div class="img_div">
                                        <img src="assets/images/icon_Free_State.png" />
                                    </div>
                                    Free State
                                    <a data-fancybox data-src="#Bungee_Jumping" href="javascript:;">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="Eastern_Cape">
                                    <div class="img_div">
                                        <img src="assets/images/icon_Eastern_Cape.png" />
                                    </div>
                                    Eastern Cape
                                    <a data-fancybox data-src="#Bungee_Jumping" href="javascript:;">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <img src="assets/images/map.jpg" />
            </div>
        </section>
        <!-- Map Start -->
        <section class="offers_promotions NoPaMa">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="text">SIGN UP FOR SPECIAL OFFERS & PROMOTIONS</div>
                        <div class="sign_up">
                            <a href="#">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <marquee id="MarqueeFooterId" class="footertext" onload="this.start();" onmouseover="this.stop();" onmouseout="this.start();" truespeed="" scrollamount="1" scrolldelay="20" direction="left" loop="repeat">
                <span> Lorem ipsum dolor sit amet, consectetur</span>
                <span> Lorem ipsum dolor sit amet, consectetur </span>
                <span> Lorem ipsum dolor sit amet, consectetur</span>
                <span> Lorem ipsum dolor sit amet, consectetur</span>
                <span> Lorem ipsum dolor sit amet, consectetur</span>
            </marquee>
            <div class="clearfix"></div>
        </section>
        <!-- Footer Start -->
        <footer class="footer-wrapper" id="footer">
            <div class="footer-content overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-title">Popular destinations</div>
                            <a href="#" class="footer-item"> Kruger National Park </a>
                            <a href="#" class="footer-item"> Apartheid Museum </a>
                            <a href="#" class="footer-item"> West Coast National Park </a>
                            <a href="#" class="footer-item"> Coffee Bay </a>
                            <a href="#" class="footer-item"> Augrabies Falls </a>
                            <a href="#" class="footer-item"> Madikwe Game Reserve </a>
                            <a href="#" class="footer-item"> Oribi Gorge </a>
                            <a href="#" class="footer-item"> Bourke’s Luck Potholes </a>
                            <a href="#" class="footer-item"> Golden Gate Highlands National Park </a>
                            <a href="#" class="footer-item"> God’s Window </a>
                        </div>
                        <!--  -->
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-title">Things to do</div>
                            <a href="#" class="footer-item"> Active Adventure </a>
                            <a href="#" class="footer-item"> Wildlife Safari </a>
                            <a href="#" class="footer-item"> Coastal Beach </a>
                            <a href="#" class="footer-item"> Cultural Roots </a>
                            <a href="#" class="footer-item"> Scenic Outdoors </a>
                            <a href="#" class="footer-item"> City Lifestyle </a>
                        </div>
                        <!--  -->
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-title">Plan your trip</div>
                            <a href="#" class="footer-item"> Itineraries </a>
                            <a href="#" class="footer-item"> Visa & Immigration</a>
                            <a href="#" class="footer-item"> COVID-19 Travel Updates </a>
                            <a href="#" class="footer-item"> When to Visit</a>
                            <a href="#" class="footer-item"> Getting Here: Flights to South Africa </a>
                            <a href="#" class="footer-item"> Getting Around</a>
                        </div>
                        <!--  -->

                        <div class="col-lg-3 col-md-6 mt-md-5">
                            <a href="#" class="footer-item"> South Africa: Revealed </a>
                            <a href="#" class="footer-item"> More & More </a>
                            <a href="#" class="footer-item"> Travel Trade </a>
                            <a href="#" class="footer-item"> Partners </a>
                            <a href="#" class="footer-item"> Facts </a>
                            <a href="#" class="footer-item"> Blog </a>
                            <a href="#" class="footer-item"> Newsroom </a>
                            <a href="#" class="footer-item"> Contact Us </a>
                        </div>
                        <!--  -->
                        <div class="copy-right">
                            <div class="footer_logo">
                                <img src="assets/images/Logo.png" />
                            </div>
                            <div class="social-links">
                                <div class="socila-icons">
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </div>
                                <div class="socila-icons">
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                                <div class="socila-icons">
                                    <a href="#">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </div>
                                <div class="socila-icons">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </div>
                            </div>
                            © 2022. South African Tourism. All Rights Reserved. <a href="#"> Disclaimer </a> &nbsp; <a href="#"> Privacy Policy </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer End -->
        <!-- Page Scroll bar -->
        <div class="scrollbar">
            <div class="scrollball">
                <span></span>
            </div>
        </div>
        <!-- Page Scroll bar -->
        <!-- jquery file -->

			<script src="assets/js/jquery.js"></script>

			<!-- bootstrap js file -->
			<script src="assets/js/bootstrap.bundle.min.js"></script>
			<script src="assets/js/menu.js"></script>
			<script src="assets/js/fancybox.js"></script>
			<script src="assets/js/slick.min.js"></script>
			<script src="assets/js/css3-animate-it.js"></script>

			<script src="assets/js/vertical-slide.js"></script>

			<script src="assets/js/scripts.js"></script>

			<!-- MAP POPUP START -->
			<div style="display: none;" id="Bungee_Jumping" class="map_popup_style">
				<div class="video_wrp">
					<video width="100%" height="100%" controls id="myVideo">
						<source src="https://www.html5rocks.com/en/tutorials/video/basics/Chrome_ImF.mp4" type="video/mp4" />
						<source src="https://www.html5rocks.com/en/tutorials/video/basics/Chrome_ImF.webm" type="video/webm" />
						<source src="https://www.html5rocks.com/en/tutorials/video/basics/Chrome_ImF.ogv" type="video/ogg" />
					</video>
				</div>
				<div class="content_wrp">
					<div class="icon_wrp">
						<img src="assets/images/activity_icon_bungee_jumping.png" />
					</div>
					<h2>Eastern Cape</h2>
					<h1>Bungee Jumping</h1>
					<p>A guaranteed rush of adrenaline as you dive head-first into this adventure!</p>
				</div>
			</div>
			<div class="itinerary_style">
				<div class="itinerary">
					<div class="imageBox imageBefore">
						<a href="#">
							<img src="assets/images/itinerary_img.png" title="Itinerary" />
						</a>
					</div>
					<div class="imageBox imageAfter">
						<a href="#">
							<img src="assets/images/itinerary_img_hover.png" title="Itinerary" />
							<span>Itineraries </span>
						</a>
					</div>
				</div>
			</div>
    </body>
</html>
