@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
	var model = (Home)Model.Root();
}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="icon" type="image/x-icon" href="assets/images/favicon.ico" />

	<meta name="viewport"
		content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
	<!-- bootstrap css file -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
	<!-- all.min.css file -->
	<link rel="stylesheet" href="assets/css/all.min.css" />
	<!-- font-awesome css file -->

	<!-- style.css file -->
	<link rel="stylesheet" href="assets/css/mystyle.css" />
	<link rel="stylesheet" href="assets/css/media_query.css" />
	<link rel="stylesheet" href="assets/css/menu.css" />
	<link rel="stylesheet" href="assets/css/fancybox.css" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link href="assets/css/slick.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="assets/css/animations.css" type="text/css" />

	<link rel="stylesheet" href="assets/css/vertical-slide.css" type="text/css" />

	<title>South Africa</title>
</head>

<body>
	<div class="wrapper">
		@Html.Partial("Partials/Header", model, new ViewDataDictionary(ViewData) { { "url", Model.Url() } })
		@RenderBody()
	</div>

	<script src="assets/js/jquery.js"></script>

	<!-- bootstrap js file -->
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<script src="assets/js/menu.js"></script>
	<script src="assets/js/fancybox.js"></script>
	<script src="assets/js/slick.min.js"></script>
	<script src="assets/js/css3-animate-it.js"></script>

	<script src="assets/js/vertical-slide.js"></script>

	<script src="assets/js/scripts.js"></script>

	<!-- MAP POPUP START -->
	<div style="display: none;" id="Bungee_Jumping" class="map_popup_style">
		<div class="video_wrp">
			<video width="100%" height="100%" controls id="myVideo">
				<source src="https://www.html5rocks.com/en/tutorials/video/basics/Chrome_ImF.mp4" type="video/mp4" />
				<source src="https://www.html5rocks.com/en/tutorials/video/basics/Chrome_ImF.webm" type="video/webm" />
				<source src="https://www.html5rocks.com/en/tutorials/video/basics/Chrome_ImF.ogv" type="video/ogg" />
			</video>
		</div>
		<div class="content_wrp">
			<div class="icon_wrp">
				<img src="assets/images/activity_icon_bungee_jumping.png" />
			</div>
			<h2>Eastern Cape</h2>
			<h1>Bungee Jumping</h1>
			<p>A guaranteed rush of adrenaline as you dive head-first into this adventure!</p>
		</div>
	</div>
	<div class="itinerary_style">
		<div class="itinerary">
			<div class="imageBox imageBefore">
				<a href="#">
					<img src="assets/images/itinerary_img.png" title="Itinerary" />
				</a>
			</div>
			<div class="imageBox imageAfter">
				<a href="#">
					<img src="assets/images/itinerary_img_hover.png" title="Itinerary" />
					<span>Itineraries </span>
				</a>
			</div>
		</div>
	</div>
</body>

</html>