@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<OPlansPage>
@{
    Layout = "Main.cshtml";

    var test = Model.OPageContent.Count();

}

<main class="inner-page">
    @foreach (var content in Model.OPageContent)
    {
        var test1 = content.GetType().Name;
        @Html.Partial($"oskiPartials/{content.GetType().Name}", content, new ViewDataDictionary(ViewData) { { "name", Model.Name } });
    }
  </main>

