@media (max-width: 1200px) {
  header {
      top: 0px;
      overflow: revert;
      position: fixed;
      background: #0a1419;
      padding: 5px 0px;
  }

  .menu_wrp {
      text-align: left !important;
  }

  .banner_container h1 {
      font-size: 40px;
  }

  .lot_more_style h1 {
      font-size: 50px;
  }

  .lot_more_style h1 span {
      font-size: 30px;
  }

  .sec_heading h1 {
      font-size: 50px;
  }

  .centered-cover h1 {
      font-size: 50px;
      margin-top: 25px;
  }

  .static_text h1 {
      font-size: 20px;
  }

  .revealded_Nav_bar {
      margin: 0px 0px;
      position: absolute;
      bottom: 0;
      width: 90%;
      left: 5%;
      right: 5%;
  }

  /*  */
}

@media (max-width: 1024px) {
  .banner_container p {
      width: 90%;
  }

  .footer-wrapper .footer-content .social-links {
      margin-right: 0px;
      width: 100%;
      margin-bottom: 10px;
  }

  .footer_logo {
      position: absolute;
      right: 10px;
      bottom: 70px;
  }

  .revealded_top_sec .caption_wrp h1 {
      font-size: 50px;
      margin-bottom: 20px;
  }
  .revealded_top_sec .caption_wrp p {
      width: 90%;
  }

  .revealded_Nav_bar li {
      width: 32%;
      background: red;
      margin: 0%;
      margin-top: 5px;
      padding: 0 5px;
      text-align: center;
  }

  .revealded_Nav_bar li a {
      font-size: 16px;
  }

  .book_now_btn a {
      display: table-cell;
      width: 150px;
  }

  .contact_right_form h4 {
      font-size: 40px;
  }

  /*  */
}

@media (max-width: 768px) {
  section {
      margin-bottom: 40px;
  }

  .scrollbar {
      display: none;
  }

  .lot_more_style h1 {
      font-size: 40px;
      margin-bottom: 40px;
  }
  .lot_more_style h1 span {
      font-size: 25px;
  }
  .lot_more_style .left_content_wrp h4 {
      font-size: 25px;
  }
  .sec_heading h1 {
      font-size: 30px;
      margin-bottom: 20px;
  }

  .static_text h1 {
      font-size: 25px;
      margin-top: 5px;
  }

  .offers_promotions .text {
      display: initial;
      width: 70%;
      float: left;
      text-align: left;
      font-size: 21px;
  }

  .lot_more_style {
      padding-top: 50px;
  }

  .Bucket_list_style .Bucket_list {
      width: 100%;
  }

  .touchdown_style .Left_bar {
      width: 98%;
  }
  .touchdown_style .Right_bar {
      width: 98%;
  }
  .grid_style .title {
      font-size: 25px;
  }

  .revealded_top_sec .caption_wrp h1 {
      font-size: 30px;
  }

  .Geography_style .left_content {
      float: left;
      padding-left: 4%;
      width: 100%;
  }

  .Geography_style .map_wrp {
      float: right;
      width: 100%;
  }

  .Currency_style .left_content {
      width: 100%;
  }

  .Currency_style .Currency_right {
      width: 100%;
      padding: 20px;
  }

  .Adventure_slider {
      width: 100%;
  }

  .Taste_Adventure .bottom_patch h2 {
      font-size: 25px !important;
      font-family: "amsipro-bolduploaded_file";
  }

  .partner_logo {
      display: block;
      margin-bottom: 10px;
      margin-left: 0%;
  }

  .touchdown_style {
      padding: 30px 0px;
  }

  .contact_banner {
      width: 100%;
      float: left;
  }

  .contact_right_form {
      width: 100%;
      margin-top: 30px;
      margin-bottom: 20px;
  }

  .contact_right_form h4 {
      font-size: 30px;
  }

  .contact_banner_wrp {
      margin-top: 100px;
  }

  .contact_bg {
      background-color: #1b2d2f;
      height: auto;
  }

  .contact_bg .banner_container {
      height: auto;
  }

  .faq_wrp {
      padding: 20px 20px;
  }

  .faq_wrp .sec_heading h1 {
      font-size: 30px;
  }

  .input_wrp_box {
      width: 100%;
      margin-top: 20px;
      padding: 7px 5px;
  }

  .news_list .news_content {
      width: 100%;
      position: relative;
      padding: 10px 10px;
  }

  .left_news_style .news_list .news_content {
      width: 100%;
      position: relative;
      padding: 10px 10px;
  }
  .right_news_style {
      padding-left: 10px;
  }

  .testimonials_style .content_wrp {
      width: 100%;
  }

  .comma_icon {
      display: none;
  }
  .comma_icon_02 {
      display: none;
  }

  /*  */
}

@media (max-width: 600px) {
  .banner_container h1 {
      font-size: 23px;
  }

  .banner_container p {
      width: 100%;
  }

  .banner_container .highlight {
      padding: 3px 10px;
      margin-top: 10px;
      margin-bottom: 20px;
  }

  .footer-wrapper {
      width: 100%;
      /* margin-top: 50px; */
      float: left;
      background: url(../images/footer_bg_mobile.jpg) #0083c7;
      background-position: bottom;
      background-repeat: no-repeat;
  }

  .map_popup_style .video_wrp {
      width: 100%;
      float: left;
      margin-bottom: 20px;
  }
  .map_popup_style .content_wrp {
      width: 100%;
      float: right;
  }

  .centered-cover h1 {
      font-size: 31px;
      margin-top: 10px;
  }

  .itinerary_style {
      right: 2px;
      bottom: 100px;
      width: 50px;
  }
  .imageBox span {
      display: none;
  }

  .revealded_Nav_bar {
      margin: 0px 0px;
      position: absolute;
      bottom: 0;
  }

  .revealded_Nav_bar li {
      width: 47%;
      background: #e9e9e9;
      padding: 0px;
      margin-bottom: 2px;
      margin: 1%;
      text-align: center;
  }

  .revealed_carousel {
      margin-top: 20px;
  }

  .revealed_carousel .slick-slide:nth-child(even) {
      margin-top: 30px;
  }
  .revealded_Nav_bar li a {
      font-size: 16px;
  }

  .revealded_top_sec {
      padding: 30px 0px 25px 0px;
  }

  .airline_partners .thumbnail_style {
      padding: 10px;
  }

  .airline_partners .thumbnail_style img {
      width: 100%;
      height: auto;
  }

  .travel_trade_style .travel_trade {
      width: 100%;
  }

  .Emergency_bar_wrp .caption {
      height: auto;
      width: 100%;
      padding: 20px 0px 20px 20px !important;
  }

  .Emergency_bar_wrp .card_wrp {
      width: 100%;
      padding: 10px 0px 10px 20px;
  }

  .news_list .news_content a {
      font-size: 15px;
  }

  .news_list .news_content .date {
      margin-bottom: 5px;
  }

  figure.effect-ruby h2 {
      margin-left: 20px;
  }

  /*  */
}

@media (max-width: 410px) {
  /*  */
}
